body{
    padding: 0;
    margin: 0;
}

.navbar{
background-color: rgb(227, 158, 67);
padding: 5px;
height: 50px;
}
.wpnavbar{
background-color:#55a47a;
padding: 5px;
height: 20px;x
}
.innavbar{
background-color:#ff3385;
padding: 5px;
height: 20px;
}
.ppnavbar{
background-color:#b366ff;
padding: 5px;
height: 20px;x
}
.nav-item{
   color: black;
  font-size: 18px;
  font-weight: bold;
  margin-left: 40PX;
  text-decoration: none;

}
.text {
    width: 90%;
    color: black;
    position:absolute;
    top:40%;
    left: 50px;
    font-size: 60px;
    text-align: center;
}
.bottom-wp{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#55a47a;
}
.bottom-in {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#ff3385;
}
.bottom-pp {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#b366ff;
.icons{
  height: 40px;
  width: 40px;
  margin: 5px 160px;;
}
.icon{
  height: 30px;
  width: 30px;
  margin: 6px 120px;
}